<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>CheckIn</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,500">
</head>

<body ng-app="tutoringLoginApp">
    <div class="site-wrapper">
        <div class="left-out pull-left" 
             ng-controller="MainCtrl">
            <div class="left-inside">
                <div class="row">
                    <h1>CheckIn <span class="glyphicon glyphicon-ok"></span></h1>
                </div>
                <div class="row">
                    <div class="input-group">
                        <input type=text 
                               class="form-control" 
                               placeholder="Name or netID" 
                               ng-model="student.query" 
                               autofocus=true
                               typeahead="student.name + ' | ' + student.netid for student in students | filter: $viewValue | limitTo:8"
                               typeahead-on-select="getCourses(student.query)">
                    </div>
                </div>
                <div class="row courses" 
                     ng-show=showCourses>
                    <p>What classes do you need help with?</p>
                    <ul class="list-inline"> 
                        <li ng-repeat="course in student.courses">
                            <button class="btn btn-default btn-lg"
                                    ng-click="addStudent(student, course)">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {{course.course_name | uppercase}}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="row credit">
                    <address>
                        <strong>Built by Sang Mercado</strong></br>
                        Source Code available at <a href="http://github.com/sangm/TutoringLogin">github.com/sangm(soon)</a></br>
                        AngularJS &middot; Django</br>
                    </address>
                </div>
            </div>
        </div>
        <div class="right-out pull-right">
            <div class="right-inside" ng-view></div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <script src="scripts/app.js"></script>
    <script src="scripts/services/services.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/student.js"></script>
</body>
</html>
