<ul class="student-list">
    <li class="animate-repeat"  ng-repeat="student in students">
        <div class="row">
            <div class="col-md-1">
                <div class="circular-img">{{$index+1}}</div>
            </div>
            <div class="col-md-7">
                <div class="student-info">
                    <ul>
                        <li><h1>{{student.name}} <small>{{student.netid}}</small></h1></li>
                        <li>Course &middot; {{student.selectedCourse|uppercase}}</li>
                    </ul>
                </div>
            </div>
            <div lass="col-md-1">
                <div class="check">
                    <a class="glyphicon glyphicon-ok" ng-click="removeStudent($index)">out</a>
                </div>
            </div>
        </div>
    </li>
</div>
